allow ueventd sysfs_adspd:file w_file_perms;
allow ueventd vendor_data_file:file r_file_perms; 
allow ueventd proc:file { getattr open read };
allow ueventd proc:file { getattr open read };
allow ueventd vfat:dir search;
allow ueventd vfat:file { getattr open read };
